
$black: #000000;
$dark-blue: #2F4858;
$orange: #FFA800;
$light-orange: #FFCB66;
$white: #FFFFFF;
$hover-color: #FFDA16;
$active-color: #FF8A00;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem; 
    color: $dark-blue;
    overflow-x: hidden;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-size: 1.875rem; 
}

h3 {
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem; 
}

.nav-container {
    position: absolute;
    z-index: 2;
    height: 8rem;
    width: 100%;
    background-color: $white;
}

nav {
    display: flex;
    z-index: 3;
    height: 100%;
    justify-content: space-between;
    font-weight: 500;
}

nav ul {
    display: flex;
    gap: 3rem; 
    overflow: hidden;
    align-items: center;
    list-style: none;
}

#language {
    margin-left:  2rem ;
    margin-right: 4.5rem ;
}

nav a {
    text-decoration: none;
    color: $dark-blue;
}
nav a:active{
    font-weight: bold;
    border-color:$hover-color;
    border-bottom: 0.2rem solid;
}

.nav-logo {
    display:flex;
    flex: 1 1 auto;
    margin-left: 4.6rem; 
    margin-top: 0.1rem; 
    height: 100px;
}

/* Hamburger menu */
.hamburger {
    display: none; 
    z-index: 4; 
    margin-right: 2rem; 
    cursor: pointer;
}

.hamburger img {
    width: 30px;
    height: auto;
}

/* Navigation links */
.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
}

/* Media query for mobile devices */
@media (max-width: 1024px) {
    .hamburger {
        display: block; 
        margin: auto 5%;

    }

    .nav-links {
        display: none; 
        position: absolute;
        top: 8rem; 
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: $white;
        z-index: 3; 
        text-align: center;
         
    }

    .nav-links.active {
        display: flex; 
    }

    .nav-links li {
        padding: 1rem 0;
        border-bottom: 1px solid #ddd; 
    }

    .nav-links li:last-child {
        border-bottom: none; 
    }
}
.wave {
    mask: 
        url("../img/header.svg") bottom / auto 2.4rem repeat-x,
        linear-gradient(black, black) no-repeat top / 100% calc(100% - 2rem);
}

.wave-both {
    mask: 
        url("../img/ripped67 rotated.svg") top / auto 2rem repeat-x,
        linear-gradient(white, white) no-repeat center / 100% calc(100% - 3rem),
        url("../img/header.svg") bottom / auto 2.25rem repeat-x;
}

.hero-container {
    overflow: hidden;
    padding-top: 9rem; 
}

.hero {
    width: 100%;
    z-index: -1;
}

.hero img {
    width: 100%;
    margin-top: 3.1rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 44%;
    margin: auto;
    padding: 10rem 0;
}

@media (max-width: 1024px) {
    .content-container {
        width: 80%;
    }
}

@media (max-width: 320px) {
    .content-container {
        width: 90%;
        font-size: 0.875rem
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 24fr 24.5fr 21.5fr 30fr;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 9.375rem;
}

.grid-container > * {
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item1 { grid-area: 1 / 1 / 3 / 2; }
.item2 { grid-area: 1 / 2 / 3 / 3; }
.item3 { grid-area: 1 / 3 / 2 / 4; }
.item4 { grid-area: 2 / 3 / 3 / 4; }
.item5 { grid-area: 1 / 4 / 3 / 5; }

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 45fr 10fr 45fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 0;
    }

    .item3 { grid-area: 1 / 1 / 2 / 2; }
    .item4 { grid-area: 2 / 1 / 3 / 2; }
    .item5 { grid-area: 1 / 2 / 3 / 4; }
    .item1 { grid-area: 3 / 1 / 4 / 3; }
    .item2 { grid-area: 3 / 3 / 4 / 4; }
}

.container {
    display: flex;
    flex:1;
    gap: 20%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons-container {
    margin-top: 2.5rem;
    text-align: center;
}

.buttons-container h3 {
    margin-bottom: 4rem;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem; 
}
@media (max-width: 1024px) {
    .container{ gap: 5%; }
}
@media (max-width: 768px) {
    .container{
        flex-direction: column;
        margin:0;
    }
}

.btn {
    padding: 1rem 4.5rem;
    border-radius: 2rem;
    text-decoration: none;
    color: $white;
    background-color: $orange;
}
.btn:hover{ background-color: $hover-color; }

@media (max-width: 480px) {

    .btn { padding: 0.75rem 3rem; }
}


.contact-form {
    position: relative;
    flex-direction: column;
    margin: auto;
    margin-top: 10.5vw;
    padding: 1.5625rem; 
    max-width: 48vw;
    width: 100%;
    background: $white;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 3.2rem;
}

.input-box {
    width: 100%;
    margin-top: 1rem;
}

.input-box input {
    width: 100%;
    padding: 0.75rem;
    font-family: "Montserrat", sans-serif;
    color: $dark-blue;
    border: none;
    border-radius: 0.375rem;
    background-color: rgba(192, 192, 192, 0.4);
    font-size: 1rem; 
    letter-spacing: -0.27px;
}

.input-box input::placeholder {
    color: $dark-blue;
}

#big-input {
    padding-top: 1rem;
    padding-bottom: 13rem;
    margin-bottom: 1.2rem;
}

.form-column {
    display: flex;
    gap: 1vw;
}
@media (max-width: 768px) {
    .form-column{
        flex-direction: column;
        gap:0;
    }
}

.contact-form span {
    font-size: 0.875rem; 
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    background-color: rgba(192, 192, 192, 0.4);
    border-radius: 10%;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: rgba(192, 192, 192, 0.4);
    position: relative;
}

input[type="checkbox"]:checked::before {
    content: '✓';
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 1.125rem; 
    line-height: 1.25rem; 
    color: $active-color;
}

.checkbox-container {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    width: 92%;
    margin-left: 0.5rem;
    margin-top: 2.5rem;
}

.checkbox-container span { line-height: 1.1;}

.form-bottom {
    display: flex;
    width: 100%;
    margin-top: 4vw;
    align-items: center;
    justify-content: center;
}

.contact-form button {
    padding: 1.2rem 4.3rem;
    margin-top: 0.6rem;
    font-family: "Montserrat", sans-serif;
    color: white;
    border: none;
    font-size: 1.5rem; /* 24px */
    font-weight: 500;
    border-radius: 2rem;
    background-color: $orange;
    cursor: pointer;
}
.contact-form button:hover {background-color: $hover-color;}

@media (max-width: 768px) {
    .contact-form button{
        padding: 1rem 4rem;
        margin-top: 1rem;
    }
}
.bottom-container { position: relative; }

.sponsors {
    position: relative;
    padding-top: 2.5vw;
    margin-top: 9%;
    overflow: hidden;
    height: 36vw;
    z-index: 1;
    text-align: center;
    background-color: $light-orange;
}

.sponsors h3 { margin-top: 5%; }

.sponsor-images {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    gap: 7.5%;
    padding-top: 6vw;
    align-items: center;
}

.sponsor-images img{ width: 100%; }

@media (max-width: 1024px) {
    .sponsors{ height: 50vw; }
    .sponsor-images{ gap: 1%; }
}

@media (max-width: 768px) {
    .sponsors{ height: 100vw; }
    .sponsor-images{
        flex-wrap: wrap;
        gap: 5%
    }
}

@media (max-width: 490px) {
    .sponsor-images img{ height: 50px; }
}

.wave-sponsors::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 2rem;
    z-index: 2;
    mask: 
    url("../img/Subtract.svg") bottom / auto 4.7rem repeat-x,
    linear-gradient(white, white) no-repeat top / 100% calc(100% - 2rem);
    background-color: white; 
}
.wave-footer::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 2rem;
    z-index: 2;
    mask: 
    url("../img/Subtract.svg") bottom / auto 4.7rem repeat-x,
    linear-gradient(white, white) no-repeat top / 100% calc(100% - 2rem);
    background-color: $light-orange; 
}


.footer-container {
    overflow: hidden;
    position: absolute;
    height: 28vw;
    margin-top: -3rem;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    text-wrap: wrap;
    color: white; 
    background-color: $dark-blue;
}


.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 5vw;
    text-wrap: wrap;
    font-size: 1rem; 
}


.footer-logo {
    margin-left: 5%;
    margin-bottom: 6%;
    scale: 1.1;
    font-size: 0.875rem; 
}
.footer-logo p{ display: none; }

.info{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 6.5%;
    margin-right: 6%;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 6.5%;
    text-align: right;
    margin-right: 5%;
}
.contacts a{
    text-decoration: none;
    color: $white;
}
.social-media{ margin-top: 19%;}

.social-media img{ margin-left: 10%; }

.footer-nav{
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 3%;
    text-align: start;
}
.footer-nav ul{ 
    list-style-type: none;
    font-size:18px; 
    display: flex;
    flex-direction: column; 
    gap: 9%;
}
.footer-nav a {
    text-decoration: none;
    color:$white;
}
.footer-title {font-size: 1.5rem;}

.copy{
    display: flex;
    justify-content: space-between;
    margin-left: 4.5%;
    margin-right: 5.5%;
    margin-top:1.5%;
    font-size: 0.875rem;
}
.copy a{
    text-decoration: none;
    color: white;
}

@media (max-width: 1300px) {
    .footer-container{ height: 35vw; }
}
@media (max-width: 1024px) {
    .footer-container{
        height: 23.75rem;
        width: 100%;
    }

    .footer-nav-container{ display: none; }

    .info-container{ display: none; }

    .footer-logo p{
        display: block;
        text-align: center;
        font-size: 1.5rem;
    }

    .footer-content{
        width: 100%;
        justify-content: center;
        gap: 40%;
    }
    .footer-title{ display: none; }
    
}
@media (max-width: 768px) {
    .footer-container{ height: 30rem; }
    
    .footer-content{
        width: 100%;
        flex-direction: column;
        margin-left: 5%;
        align-items: start !important;
    }

    .footer-logo { margin-left: 1%; }

    .footer-logo p{
        margin-top: 20%;
        text-align: left;
    }
    .footer-logo img{ height: 100px; }

    .contacts{
        text-align: left;
        margin: 0;
    }

    .social-media img{ margin: 0 15% 15% 0; }
    
    .copy{ flex-direction: column; }
}

@media (max-width: 480px){
    .footer-container{ height: 120vw; }
}

@media (max-width: 768px) {
    .nav-logo { margin-left: 1.5rem; }

    .content-container {
        width: 90%;
        padding: 5rem 0; 
    }

    .buttons-container {
        width: 80%;
    }

    .contact-form {
        max-width: 90vw;
        padding: 1rem;
    }

   
}
